
.main_container{
    border: 5px solid greenyellow;

}
.upper_container{
    display: flex;
    border: 1px solid indianred;
}
.upper_container1{
    display: flex;
    border: 5px solid yellow;
}
.upper_container2{
    border:  5px solid gold;

}