.form-check {
  display: flex;
  margin: 10px;
  margin: 8px 21px;
  /* width: 250px; */
  /* border: 1px solid #6F7C87; */
  /* float: left; */
  height: 21px;
}
.form-check-input {
  display: flex;
  padding: 10px;
}
.form-check-label {
  margin-right: 40px;
}
.search_by {
  margin: 8px 21px;
  height: 21px;
}
.search {
  margin: 8px 21px;
  width: 250px;
  /* border: 1px solid #6F7C87; */
  float: left;
  height: 21px;
}
.contaner_card {
  height: 200px;
  /* background: hotpink; */
  width: 100%;
  margin: 0 auto;
  /* border: 1px solid red; */
}
.container2 {
  /* position: absolute; */
width: 400px;
height: 247px;
left: 537px;
top: 160px;

background: #FFFFFF;
border: 1px solid #CFD7DF;
box-sizing: border-box;
box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.06);
border-radius: 6px;
  border: 1px solid #6f7c87;
  margin: 5px 21px;

  /* margin: 5px 21px;
  width: 400px;
  float: left;
  height: 213px; */
}
.container_right {
}

.card_top {
  display: flex;
}
.card_top_left {
  margin-left: 5px;
  margin-top: 10px;
}
.card_top_right {
  margin-left: 220px;
  margin-top: 10px;
}

.card_top_left_item1 {
  font-family: Helvetica Neue;
  font-size: 9px;
  font-style: normal;
  font-weight: 700;
  line-height: 16px;
  letter-spacing: 0.4017857015132904px;
  text-align: left;
}
.card_top_left_item2 {
  font-family: Helvetica Neue;
  font-size: 7px;
  font-style: normal;
  font-weight: 400;
  line-height: 12px;
  letter-spacing: 0.4017857015132904px;
  text-align: left;
  height: 12px;
  width: 74px;
  left: 106px;
  top: 295px;
}
.card_top_right_item1 {
  font-size: 5px;
  margin-left: 20px;
  float: left;
  height: 16px;
  width: 103px;
  left: 105px;
  top: 278px;
}
.card_top_right_item2 {
  background-color: blue;
}
.button_delivered {
  background: #b4e5d9 37%;
  position: absolute;
  width: 83px;
  background: rgba(180, 229, 217, 0.37);
  border: 1px solid #b4e5d9;
  box-sizing: border-box;
  border-radius: 4px;
}

/* .button2 {
  background: #ffecf0 37%;
  position: absolute;
  width: 83px;
  background: #ffecf0;
  border: 1px solid #ff5959;
  box-sizing: border-box;
  border-radius: 4px;
} */
/* .button_bad{ */
  /* position: absolute; */
/* width: 55px; */
/* height: 27px; */
/* left: 866px; */
/* top: 171px; */

/* background: #FFECF0; */
/* border: 1px solid #FFD0D6; */
/* box-sizing: border-box; */
/* border-radius: 4px; */
/* } */
/* .button3 {
  background: #ffd012 37%;
  position: absolute;
  width: 83px;
  background: #ffd012;
  border: 1px solid #ffd012;
  box-sizing: border-box;
  border-radius: 4px;
} */

/* body {
    overflow: hidden;
} */

.drawline {
  position: absolute;
  width: 400px;
  top: 110px;
  border: 1px solid #6f7c87;
}
.bottom_container {
  text-align: center;
}
.first_row_container {
  display: flex;
  margin-top: 20px;
}

.second_row_container {
  display: flex;
  margin-top: 20px;
}
.third_row_container {
  display: flex;
  margin-top: 20px;
  /* display: flex; */
}
.fourth_row_container {
  display: flex;
  margin-top: 20px;
}
.td_head {
  font-family: Helvetica Neue;
  font-size: 8px;
  font-style: normal;
  font-weight: 300;
  line-height: 10px;
  letter-spacing: 0.4017857015132904px;
  text-align: left;
  padding-inline-end: 60px;
  color: #6f7c87;
}
.td_bottom {
  font-family: Helvetica Neue;
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  line-height: 12px;
  letter-spacing: 0.4017857015132904px;
  text-align: left;
  font-weight: bolder;
}
.second_text1 {
  margin-left: 150px;
}
.second_text2 {
  margin-left: 204px;
}
.second_text3 {
  margin-left: 170px;
}
/* .font_upper_css{
  float: right;
} */
.delivered{
  /* position: absolute; */
width: 56px;
height: 15px;
left: 410px;
top: 177px;
margin: 6px 13px;

font-family: Helvetica Neue;
font-style: normal;
font-weight: 500;
font-size: 12px;
line-height: 15px;
/* identical to box height */

letter-spacing: 0.401786px;

color: #007958;
}
.bad{
  /* position: absolute; */
width: 24px;
height: 15px;
left: 882px;
top: 177px;
margin: 6px 15px;

font-family: Helvetica Neue;
font-style: normal;
font-weight: 500;
font-size: 12px;
line-height: 15px;
/* identical to box height */

letter-spacing: 0.401786px;

color: #C82124;
}
.button_bad{
  /* position: absolute; */
width: 55px;
height: 27px;
left: 866px;
top: 171px;

background: #FFECF0;
border: 1px solid #FFD0D6;
box-sizing: border-box;
border-radius: 4px;

}
.button_Cooking{
  /* position: absolute; */
width: 83px;
height: 27px;
left: 1278px;
top: 169px;

background: rgba(255, 208, 18, 0.1);
border: 1px solid #FFD012;
box-sizing: border-box;
border-radius: 4px;
}
.Cooking{
  /* position: absolute; */
width: 49px;
height: 15px;
left: 1295px;
top: 175px;
margin: 6px 17px;

font-family: Helvetica Neue;
font-style: normal;
font-weight: 500;
font-size: 12px;
line-height: 15px;
/* identical to box height */

letter-spacing: 0.401786px;

color: #FFD012;

}
