
.form-check{
    display: flex;
    margin: 10px;
    margin: 8px 21px;
    height: 21px;
}
.form-check-input{
    display: flex;
    padding: 10px;
}
.form-check-label{
    margin-right: 40px;
}
.search_by{
    margin: 8px 21px;
    height: 21px;
    
}
.search{
    margin: 8px 21px;
    width: 250px;
    /* border: 1px solid #6F7C87; */
    float: left;
    height: 21px;
    
}
  .contaner_card{
      height: 200px;
      /* background: hotpink; */
      width: 100%;
      margin: 0 auto;
      /* border: 1px solid red; */
  }
  .container2{
    border: 1px solid  #6F7C87;
    margin: 5px 21px ;
    width: 400px;
    float: left;
    height: 213px;
  }
  .container_right{

  }

  .card_top{
      display: flex;
  }
  .card_top_left{
      margin-left: 5px;
      margin-top: 10px;
      /* display: flex; */

  }
  .card_top_right{
      /* border: 5px solid red; */
    margin-left: 125px;
    margin-top: 10px;
    /* display: flex; */

}
.pic_problem{
    /* border: 5px solid blue; */
    /* display: flex; */
}

.card_top_left_item1{
    font-family: Helvetica Neue;
    font-size: 13px;
    font-style: normal;
    font-weight: 700;
    line-height: 16px;
    letter-spacing: 0.4017857015132904px;
    text-align: left;
    
    
}
.card_top_left_item2{
    font-family: Helvetica Neue;
    font-size: 10px;
    font-style: normal;
    font-weight: 400;
    line-height: 12px;
    letter-spacing: 0.4017857015132904px;
    text-align: left;
    height: 12px;
    width: 74px;
    left: 106px;
    top: 295px;

}
.card_top_right_item1{
    font-size: 5px;
    margin-left: 20px;
    float: left; 
    height: 16px;
width: 103px;
left: 105px;
top: 278px;

}
.card_top_right_item2{
    background-color: blue;
    
}
  .button1 {
    background: #B4E5D9 37%;
   position: absolute;
    width: 83px;
    background: rgba(180, 229, 217, 0.37);
    border: 1px solid #B4E5D9;
    box-sizing: border-box;
    border-radius: 4px;
 }

 .button2{
    background: #FFECF0 37%;
    position: absolute;
     width: 83px;
     background: #FFECF0;
     border: 1px solid #FF5959;
     box-sizing: border-box;
     border-radius: 4px;

 }

 .drawline3{
    position: absolute;
    width: 400px;
    top: 220px;
    border: 1px solid  #6F7C87;
    ;
 }
 .bottom_container{
     text-align: center;
 }

 .first_row_container{
     display: flex;
     margin-top: 20px;
 }

 .second_row_container{
    display: flex;
    margin-top: 20px;

 }
 .third_row_container{
     margin-top: 20px;
 }
 .fourth_row_container{
     margin-top: 20px;
 }
 .td_head{
    font-family: Helvetica Neue;
    font-size: 8px;
    font-style: normal;
    font-weight: 300;
    line-height: 10px;
    letter-spacing: 0.4017857015132904px;
    text-align: left;
    padding-inline-end: 60px;
    color: #6F7C87;
 }
 .td_bottom{
    font-family: Helvetica Neue;
    font-size: 10px;
    font-style: normal;
    font-weight: 400;
    line-height: 12px;
    letter-spacing: 0.4017857015132904px;
    text-align: left;
    font-weight: bolder;
 }
