* {
  box-sizing: border-box;
}
body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  margin: 0;
}
#main {
  /* position: absolute; */
  display: flex;
  flex: 1;
  height: 790px;
  width: 1440px;
  left: 1717px;
  top: 178px;
  border-radius: 0px;
  background: #FFFFFF;
  border: 1px solid #000000;
  box-sizing: border-box;
}
#main > article {
  flex: 1;
}
#main >,
#main > aside {
  flex: 0 0 10vw;
  background: beige;
}
#main > nav {
  order: -1;
}
header,
footer {
  /* background: yellowgreen; */
  height: 10vh;
}
header,
footer,
article,
nav,
aside {
  /* padding: .8em; */
}
.navbar {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 5rem;
}
.navbar_container {
  /* width: 1440px; */
  /* position: absolute; */
width: 1377px;
height: 55px;
left: 63px;
top: 65px;
}
.side_navbar {
  background-color: aquamarine;
  margin: 5px;
}
